/* This file was created by Ruben Boero and Serafin Patino */

table, td, th {
    margin: 0 auto;
    width: 88%;
    text-align: center;
}

td {
    width: 200px;
    font-weight: bold;
}

tr {
    align-items: center;
}

th, td {
    border: 3px solid black;
    border-radius: 10px;
    /* the padding breaks the results table*/
    /* padding-left: 20%; */
    text-align: left;
}

.title_container {
    text-align: center;
    padding: 10px;
}

#advanced_search {
    font-size: small;
}

.header {
    display: flex;
    /* https://teamtreehouse.com/community/how-to-position-a-flex-item-to-the-far-right-in-the-flexbox */
    justify-content: space-between;
}

.empty_space {
    padding: 50px;
}

/* https://stackoverflow.com/questions/3463621/css-label-text-right-below-input-element */
div.search_text_pair {
    float:left;
}

#search_bar {
height: 30px;
text-align: right;
margin-left: 500px;
}

/* TODO: logo doesn't want to adopt resizing of code below */
#logo{
    display: block;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

/* #egg_group_results {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: left;
    width: 90%;
    border: 2px solid black;
} */

#table_header {
    font-size: large;
    color: rgb(79, 75, 75);
    font-weight: bold;
}


