/* This file was created by Ruben Boero and Serafin Patino */

table, td, th {
    margin: 0 auto;
    width: 88%;
    text-align: center;
    border-collapse: collapse;
}

td {
    width: 200px;
}

tr {
    align-items: center;
}

th, td {
    border: 3px solid black;
    text-align: left;
}

.title_container {
    text-align: center;
    padding: 10px;
}

.header {
    display: flex;
    /* https://teamtreehouse.com/community/how-to-position-a-flex-item-to-the-far-right-in-the-flexbox */
    justify-content: space-between;
}

.empty_space {
    padding: 50px;
}

#logo{
    display: block;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

#table_header {
    font-size: large;
    font-weight: bold;
}

.less_space {
    padding: 20px;
}

#current_page {
    border-style: solid;
    border-color: black;
    padding: 2px;
}