/* This file was created by Ruben Boero and Serafin Patino */

table, td, th {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 88%;
}
td {
    width: 200px;
}

th, td {
    border: 3px solid black;
    text-align: left;
}

tr {
    align-items: left;
}

.title_container {
    text-align: center;
    padding: 10px;
}

.header {
    display: flex;
    /* https://teamtreehouse.com/community/how-to-position-a-flex-item-to-the-far-right-in-the-flexbox */
    justify-content: space-between;
}

.empty_space {
    padding: 50px;
}

/* https://stackoverflow.com/questions/3463621/css-label-text-right-below-input-element */
div.search_text_pair {
    float:left;
}

/* TODO: logo doesn't want to adopt resizing of code below */
#logo{
    display: block;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.less_space {
    padding: 20px;
}

#table_header {
    font-size: large;
    font-weight: bold;
}