.title_container {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* position: absolute; */
    text-align: center;
    padding: 10px;
}

#drop_down {
    text-align: center;
    padding: 10px;
}

#logo{
    display: block;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
  }

#advanced_search {
height: 30px;
text-align: right;
margin-left: 500px;
}

.header {
    display: flex;
    /* https://teamtreehouse.com/community/how-to-position-a-flex-item-to-the-far-right-in-the-flexbox */
    justify-content: space-between;
}

.empty_space {
    padding: 50px;
}
