/* This file was created by Ruben Boero and Serafin Patino */


/* We used the following W3 tutorial to make a search bar:
https://www.w3schools.com/howto/howto_css_searchbar.asp */
/* Add a black background color to the top navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchcontainer{
  position: absolute;
  top: 300px;
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  /* display: absolute; */
  align-items: center;
  justify-content: center;
}

.searchbar{
  width: 100%;
  max-width: 700px;
  background: rgba(20, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px, 20px;

}

.searchbar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px, 24px;
  font-size: 24px;
  color: #AEE5D8;
}

::placeholder{
  color: #cac7ff;
}

.searchbar button img{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: transparent;
}


#logo{
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: auto; */
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

/* img{
  width: 100px;
  height: 100px;
} */

/* .logocontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 90px;
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.main_link {
  display: flex;
  margin: 5px;
  border: 2px;
  background-color: orange;

}

#advanced_search {
  height: 30px;
  text-align: right;
}