<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg Groups</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='egg_groups.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='pokemon.js') }}" ></script>
</head>

<body>
    <div class = "header">
        <!-- The following site was used to learn how to make an image a link:
        https://pagedart.com/blog/linking-images-in-html/ -->
        <a href = "/"><img id = "logo" alt = "Logo" src="{{ url_for('static', filename='logo.png') }}"></a>
        <a href = "/">Home</a>
        <a href = "/generations">Generations</a>
        <a href = "/legendaries">Legendaries</a>
        <a href = "/egg_groups">Egg Groups</a>
        <a href = "/types">Types</a>
        <a href = "/pokedex">Pokédex</a>
    
        <div class="search_text_pair">
            <input name = "search_bar" type="text" placeholder="search anything"/>
            <input type="submit" value="Go"><br /> <!-- <br /> is line break-->
            <label for="search_bar" id = "advanced_search"><a href = "">Advanced Search</a></label>
        </div>
    </div>

    <div class = "title_container">
        <h1>Egg Groups</h1>
    </div>

    <div class = "empty_space"></div>
    <!-- https://stackoverflow.com/questions/3463621/css-label-text-right-below-input-element -->
    <!-- Pokemon type colors from https://www.epidemicjohto.com/t882-type-colors-hex-colors -->
    <!-- <div>
        <table width = "1200">
            <tr><td bgcolor="D25064"><input type="checkbox" name="Monster checkbox"/>Monster</td><td bgcolor="D29682"><input type="checkbox" name="Human-Like checkbox"/>Human-Like</td></tr>
            <tr><td bgcolor="97B5FD"><input type="checkbox" name="Water 1 checkbox"/>Water 1</td><td bgcolor="5876BE"><input type="checkbox" name="Water 3 checkbox"/>Water 3</td></tr>
            <tr><td bgcolor="AAC22A"><input type="checkbox" name="Bug checkbox"/>Bug</td><td bgcolor="7A6252"><input type="checkbox" name="Mineral checkbox"/>Mineral</td></tr>
            <tr><td bgcolor="B29AFA"><input type="checkbox" name="Flying checkbox"/>Flying</td><td bgcolor="#8A8A8A"><input type="checkbox" name="Amorphous checkbox"/>Amorphous</td></tr>
            <tr><td bgcolor="E0C068"><input type="checkbox" name="Field checkbox"/>Field</td><td bgcolor="#729AFA"><input type="checkbox" name="Water 2 checkbox"/>Water 2</td></tr>
            <tr><td bgcolor="FFC8F0"><input type="checkbox" name="Fairy checkbox"/>Fairy</td><td bgcolor="A664BF"><input type="checkbox" name="Ditto checkbox"/>Ditto</td></tr>
            <tr><td bgcolor="82D25A"><input type="checkbox" name="Grass checkbox"/>Grass</td><td bgcolor="7A42FF"><input type="checkbox" name="Dragon checkbox"/>Dragon</td></tr>
            <tr><td bgcolor="646666"><input type="checkbox" name="no eggs discovered checkbox"/>No Eggs Discovered</td><td bgcolor="0080C0"><input type="checkbox" name="Gender Unknown checkbox"/>Gender Unknown</td></tr>
        </table>
    </div> -->

    <!-- Populate the Check Boxes -->
    <div>
        <table id = "egg_group_selector"></table>
    </div>

    <div class = "less_space"></div>

    <!-- Populate the Results Table -->
    <div>
        <table id = "egg_group_results"></table>
    </div>
</body>
</html>