<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='pokedex.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='pokemon.js') }}" ></script>
</head>

<!-- put in div, make class, text allign cetner -->

<!-- The following link was used to make the table https://www.youtube.com/watch?v=iDA0kF5lrVk -->
<body>
    <div class = "header">
        <!-- The following site was used to learn how to make an image a link:
        https://pagedart.com/blog/linking-images-in-html/ -->
        <a href = "/"><img id = "logo" alt = "Logo" src="{{ url_for('static', filename='logo.png') }}"></a>
        <a href = "/">Home</a>
        <a href = "/generations">Generations</a>
        <a href = "/legendaries">Legendaries</a>
        <a href = "/egg_groups">Egg Groups</a>
        <a href = "/types">Types</a>
    
        <div class="search_text_pair">
            <select id = "search_dropdown"> 
                <option value = "pokemon">Pokémon</option> 
                <option value = "pokedex_number">Pokédex Number</option> 
                <option value = "ability">Ability</option> 
                <option value = "type">Type</option> 
            </select>
            <input id = "search_bar" name = "search_bar" type="text" placeholder="search anything"/>
            <input id = "go_button" type="submit" value="Go"><br/> <!-- <br /> is line break-->
            <label for="search_bar"><a href = "">Advanced Search</a></label>
        </div>
    </div>

    <div class = "title_container">
        <h1>{{name}}</h1>
    </div>

    <div class = "empty_space"></div>    

    <div class = "pokemon_container"> 
        <div id="stats">
            <table id = "stats_table">
                <tr>
                    <td>{{hp}}:</td>
                    <td>70</td>
                </tr>
            </table>
        </div>     
    </div>   

</body>
</html>